@media screen and (max-width: 1100px)  {
	body {
		background: #181719;
		padding: 0 6rem;
	}
	.ul li {
		display: none;
	}
	.bars {
		display: block;
	}
	.xmark {
		display: block;
	}
	.container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
	}
	.interior-section {
		margin-bottom: 4rem;
	}
}
@media (max-width: 800px) {
	.btn {
		font-size: 12px;
		padding: 4px;
	}
	#navbar {
		display: flex;
		justify-content: space-between;
		align-items: right;
	}
}
